{% extends 'base.html' %}
{% block conteudo %}
<form action="/atualizar" method="POST">
    <label>CPF: </label>
    <input type="text" name="cpf" id="cpf"><br><br>

    <label>Nome: </label>
    <input type="text" name="nome" id="nome"><br><br>

    <label>Telefone: </label>
    <input type="text" name="telefone" id="telefone"><br><br>

    <label>Endereço: </label>
    <input type="text" name="endereco" id="endereco"><br><br>

    <button type="submit">consultar</button>
</form>


{% endblock %}